        /* enable-dark-mode */

        .dark-mode {
            background-color: #323232;
            color: #dae6e9;
        }
        
        /* theme-cyan */
        
        div.themecyan.code {
            bg: #fef3f2;
            button-toko: #ed1651;
            button-toko-teks: #f7aba7;
            dark-mode-teks: #ffffff;
            konten: #ef4d62;
            konten-teks:#ef4d62;
            navbar: #ed1651;
            navbar-teks: #ffffff;
            mobile: 440px;
            borderrounded: 15px;
            paddingkonten: 10px;
            heightbanner: 200px;
            heightnavbar: 70px;
            heightkonten: 550px;
            widthkonten: 420px;
            heighttdm: 50px;
            heightprfl: 100px;
        }

        .center-image {position:relative;display:flex;justify-content:center;margin-left:auto;margin-right:auto;}

        
        /* body setting */
        
        body {
            background-color: #fef3f2;
            background-size: cover;
            height: 50%;
            width: 440px;
            margin-left: auto;
            margin-right: auto;
            color: #ed1651;
            box-sizing: border-box;
        }

        div.src {
            margin: 0px;
            padding: 0px;
            width: 440px;
        }
        
        /* font setting */
        
        @font-face {
            font-family: Acme;
            src: url('/f/Acme.ttf');
        }
        
        Acme {
            font-family: Acme;
        }
        
        @font-face {
            font-family: Albert900;
            src: url('/f/Albert900.ttf');
        }
        
        Albert900 {
            font-family: Albert900;
        }
        
        @font-face {
            font-family: Albert500;
            src: url('/f/Albert500.ttf');
        }
        
        Albert500 {
            font-family: Albert500;
        }
        
        
        /* nama toko */
        h1 {
            font-family: Acme;
            font-size: 20px;
            color: #fef3f2;
        }
        
        /* teks konten */
        h2 {
            font-family: Albert500;
            font-size: 13px;
        }
        
        h2.left {
            margin: 10px;
            padding-left: 20px;
            text-align: left;
        }
        
        .center {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }
        
        /* navbar gede */
        h3 {
            font-family: Albert900;
            font-size: 15px;
            color: #ffffff;
        }
        
        h3.down {
            margin-bottom: 5px;
        }
        
        /* navbar kecil */
        h4 {
            font-family: Albert500;
            font-size: 10px;
            color: #ffffff;
        }
        h4.up {
            margin-top: 5px;
        }
        
        /* konten teks bright mode */
        h5 {
            font-family: Albert500;
            font-size: 16px;
            color: #ed1651;
        }

        h6 {
            font-family: Albert500;
            font-size: 10px;
        }

        .margin10 {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-block-start: 0px;
            margin-block-end: 5px;
        }

        .left3 {
            margin-top: 20px;
            margin-left: 10px;
        }
        
        
        /* animate */
        
        #sliding {
            margin: 0px;
            padding: 0px;
            width: 440px;
            height: 300px;
            object-fit: cover;
            object-position: 0% 0%;
            animation: glitch 30s infinite;
            }  
          
          @keyframes glitch {
            0% {
              object-position: 0% 0%;
            }
            50% {
              object-position: 50% 0%;
            }  
            100% {
                object-position: 100% 0%;
              } 
        }
        
        /* div block */
        
        div.banner {
            width: 440px;
            height: 350px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }
        
        div.t {
            width: 440px;
            height: 40px;
        }
        
        div.tl {
            width: 440px;
            height: 40px;
        
        }
        
        .left {
            float: left;
            position: relative;
            margin-left: 10px;
            margin-top: 21px;
        }
        
        .right {
            float: right;
            position: relative;
            margin-right: 10px;
            margin-top: 10px;
        }
        
        div.f {
            width: 440px;
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        div.baris {
            position: relative;
            width: 75%;
            display: flex;
            justify-content: center;
        }
        
        div.barisbawah {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        div.kotak {
            position: relative;
            width: 25%;
            display: flex;
            justify-content: center;
            margin: 25px;
        }

        img.rounded {
            border-radius: 21px;
        }

        div.kotak2 {
            position: relative;
            width: 12%;
            display: flex;
            justify-content: center;
            margin: 5px;
        }
        
        div.box-sharing {
            position: relative;
            display: flex;
            justify-content: center;
        }
        
        div.judul-kontak {
            position:relative;
            display:flex;
            justify-content: center;
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        span.judul {
            color:#fef3f2;
            background-color: #ed1651;
            border-radius: 10px;
            font-family: Albert900;
            font-size: 18px;
            padding: 7px;
        }
        
        span.share {
            font-size: 14px;
            font-family: Albert900;
            font-style: normal;
            padding: 5px;
            border-radius: 10px;
            color: #fef3f2;
            background-color: #ed1651;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        span.share2 {
            font-size: 14px;
            font-family: Albert900;
            font-style: normal;
            padding: 5px;
            border-radius: 10px;
            color: #fef3f2;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        div.navbar {
            width: 440px;
            height: 70px;
            background-color: #ed1651;
        }
        
        div.navbaru1 {
            width: 440px;
            height: 30px;
            text-align: center;
            background-color: #ed1651;
            display: flex;
            justify-content: center;
            margin-bottom: -8px;
        }
        
        div.navbaru2 {
            width: 440px;
            height: 30px;
            text-align: center;
            background-color: #ed1651;
            display: flex;
            justify-content: center;
            margin-top: -5px;
        }
        
        div.down1 {
            width: 440px;
            height: 35px;
        }
        
        div.up1 {
            width: 440px;
            height: 35px;
        }
        
        span.toko {
            padding: 5px;
            background-color: #ed1651;
            border-radius: 5px;
            color: #ffffff;
            font-family: Acme;
            font-size: 20px;
        }
        
        span.bergabung {
            padding: 5px;
            background-color: #ef4d62;
            border-radius: 7px;
            color: #ffffff;
            font-family: Albert500;
            font-size: 13px;
        }
        
        div.image-center {
            display: flex;
            justify-content: center;
            position: relative;
            width:100%;
        }
        
        div.box1 {
            width: 70%;
            text-align: left;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        /* tabs */
        
        .tab {
            overflow: hidden;
            display: flex;
            justify-content: center;
          }
          
        .tab img.active {
            background-color: #f7aba7;
            border-radius: 15px;
            animation:animatezoom 0.6s;
          }
          
        .tabcontent {
            display: none;
            padding: 10px 10px;
            border: 2px solid #ef4d62;
            border-radius: 30px;
            margin: 20px;
          }
          
          .img.bonus {
            width: 100%;
            max-width: 380px;
            border-radius: 30px;
            margin: 10px;
          } 

        .ngezoom {
            animation:animatezoom 0.6s
        }
        @keyframes animatezoom {
            from{transform:scale(0)}
            to{transform:scale(1)}
        }
        
        .isi {
            height: 440px;
            width: 350px;
            border-radius: 20px;
            border-style: solid;
            border-color: #ed1651;
            border-width: 2px;
        }
        
          img.margins {
            margin: 5px;
            padding: 5px;
          }
        
          div.belanja {
            display: flex;
            justify-content: center;
            width: 100%;
          }
        
        .website-counter {
            background-color: #ed1651;
            padding: 5px;
            color: white;
            border-radius: 5px;
            font-size: 15px;
            margin: 5px;
        }
        
        span.counter {
            background-color: #ed1651;
            padding: 5px;
            color: white;
            border-radius: 5px;
            font-size: 15px;
        }

        /* switch dark */

        .switch {
            position: relative;
            display: inline-block;
            width: 55px;
            height: 30px;
          }
          
          .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 8px;
            bottom: 5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: #ed1651;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #ed1651;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
          }
          
          /* Rounded sliders */
          .slider.round {
            border-radius: 30px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }

          /* modal image pop up */

          .modal {
            z-index:1;
            display:none;
            padding-top:100px;
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            overflow:auto;
            background-color:rgb(0,0,0);
            background-color:rgba(0,0,0,0.8)
            }
            
            .modal-content{
            margin: auto;
            display: block;
            width: 440px;
            max-width: 440px;
            }
            
            
            .modal-hover-opacity {
            opacity:1;
            filter:alpha(opacity=100);
            -webkit-backface-visibility: hidden;
            }
            
            .modal-hover-opacity:hover {
            opacity:0.60;
            filter:alpha(opacity=60);
            -webkit-backface-visibility: hidden;
            }
            
            
            .close {
            text-decoration:none;
            float:right;
            font-size:24px;
            font-weight:bold;
            color:white
            }

            .modal-content, #caption {   
              
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.3s;
            animation-name: zoom;
            animation-duration: 0.3s;
            }
            
            
            @-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)} 
                to {-webkit-transform:scale(1)}
            }
            
            @keyframes zoom {
                from {transform:scale(0)} 
                to {transform:scale(1)}
            }
            
            /* slidecolour */

            span.gradings {
                animation: grads 4s infinite;
              }
              
              @keyframes grads {
                from {background-color: #ed1651;}
                to {background-color: #323232;}
              }


              .mySlides {display: none;}

              img {vertical-align: middle;}
              
              /* Slideshow container */
              .slideshow-container {
                max-width: 440px;
                position: relative;
                margin: auto;
              }
              
              /* Caption text */
              .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
              }
              
              /* Number text (1/3 etc) */
              .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
              }
              
              /* The dots/bullets/indicators */
              .dot {
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
              }
              
              .active {
                background-color: #717171;
              }
              
              /* Fading animation */
              .fade {
                animation-name: fade;
                animation-duration: 1.5s;
              }
              
              @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
              }
              
              /* On smaller screens, decrease text size */
              @media only screen and (max-width: 300px) {
                .text {font-size: 11px}
              }

              /* buttons social media */
              .fa {
                padding: 20px;
                font-size: 30px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                margin: 5px 2px;
                border-radius: 20%;
              }
              
              .fa:hover {
                  opacity: 0.7;
              }

              .fa-facebook {
                background: #3B5998;
                color: white;
              }
              
              .fa-twitter {
                background: #55ACEE;
                color: white;
              }
              
              .fa-google {
                background: #dd4b39;
                color: white;
              }
              
              .fa-linkedin {
                background: #007bb5;
                color: white;
              }
              
              .fa-youtube {
                background: #bb0000;
                color: white;
              }
              
              .fa-instagram {
                background: #125688;
                color: white;
              }
              
              .fa-pinterest {
                background: #cb2027;
                color: white;
              }
              
              .fa-snapchat-ghost {
                background: #fffc00;
                color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
              }
              
              .fa-skype {
                background: #00aff0;
                color: white;
              }
              
              .fa-android {
                background: #a4c639;
                color: white;
              }
              
              .fa-dribbble {
                background: #ea4c89;
                color: white;
              }
              
              .fa-vimeo {
                background: #45bbff;
                color: white;
              }
              
              .fa-tumblr {
                background: #2c4762;
                color: white;
              }
              
              .fa-vine {
                background: #00b489;
                color: white;
              }
              
              .fa-foursquare {
                background: #45bbff;
                color: white;
              }
              
              .fa-stumbleupon {
                background: #eb4924;
                color: white;
              }
              
              .fa-flickr {
                background: #f40083;
                color: white;
              }
              
              .fa-yahoo {
                background: #430297;
                color: white;
              }
              
              .fa-soundcloud {
                background: #ff5500;
                color: white;
              }
              
              .fa-reddit {
                background: #ff5700;
                color: white;
              }
              
              .fa-rss {
                background: #ff6600;
                color: white;
              }