html, body, *{box-sizing:border-box;} 
  p{margin:0px;}
  a{text-decoration:none;}
 html{scroll-behavior:smooth;}
body{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;width:430px;padding:0;margin:0;height:100vh;}
.container{display:flex;justify-content:center;margin:0;background-color:rgba(10,50,90,0.5);width:100%;}
.container2{display:flex;justify-content:center;margin:0;width:100%;}
#modalf{position:absolute;top:0;left:0;background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;transform:opacity(1);height:100%;animation: myfade3 0.5s;padding:0px;margin:0;}
#modalf-2{width:100%;height:100vh;text-align:center;margin:30px;padding:0;animation:unfoldIn 1.5s;display:flex;justify-content:center;}
.inline{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);width:430px;}
.inline1{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);position:relative;height:970px;width:430px;}
.inline2{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);width:430px;position:relative;height:770px}
.inline3{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);width:430px;position:relative;height:1000px}
.inline4{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);width:430px;position:relative;height:1326px;}
.inline5{background-image: url(https://www.katalogku.web.id/client/newpage.png);background-size:cover;border-radius: 100px;box-shadow: 0px 0px 15px rgba(0,0,38,0.3);width:430px;position:relative;height:660px;padding:20px;}
.navbar{position:sticky;bottom:0;width:430px;background:rgba(99,99,255,0.8);height:70px;z-index:99;display:flex;justify-content:center;padding:20px;}
.contentnavbar {width:80%;height:100%;display:flex;justify-content:center;justify-items:center;margin:0;}
.menus{width:20%;background-color:green;text-align: center;margin:5px;}
.margin05{margin:5px;}

#progress-bar {
  --scrollAmount: 0%;
  
  background-image: linear-gradient(120deg, #0f75bc 0%, #0f75bc 100%);
  width: var(--scrollAmount);

  /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
  width: 100%; */
  
  height: 5px;
  position: fixed;
  top: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:fixed;
  top:50%;
  left:50%;
  z-index:9999;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.z1{z-index: 1;}
.z2{z-index: 2;}
.z99{z-index: 99;}
.black{background-color: black;}
.br{border-top-left-radius: 30%;aspect-ratio: 1/1;width:50%;}
.page{padding:20px;width:430px;}
.page2{padding:20px;}

.cont{position:relative;top:-150px;background-color:rgba(255,255,255,0.4);border-radius:50px;box-shadow:1px 1px 10px #465a65;}
.cont1{top:100px;position:relative;background-color:rgba(255,255,255,0.4);border-radius:50px;box-shadow:1px 1px 10px #465a65;height:800px;}
.cont3{position:relative;top:0px;background-color:rgba(255,255,255,0.4);border-radius:50px;box-shadow:1px 1px 10px #465a65;}
.cont5{position:relative;top:0px;background-color:rgba(255,255,255,0.4);border-radius:50px;box-shadow:1px 1px 10px #465a65;}
  .belt{border-top-left-radius: 49px;border-top-right-radius: 49px;}
  .text{text-align: center;}
  .myw{background-color: rgba(66,77,88,0.5);color:whitesmoke;border-radius:15px;}
  .birdbox{width:100%;border-radius: 40px;padding:10px;margin:10px;top:-350px;position:relative;}
  .birdbox video {width:100%;border-radius: 40px;position:relative;object-fit:cover;z-index:0;mix-blend-mode:darken;opacity:0.5;}
  .birdbox .bird {position:relative;z-index:1;border-radius:40px;box-shadow:1px 1px 6px #465a65;}


  a{border: transparent 1px solid;}
  .row{display:flex;flex-direction:row;justify-content:center;align-items:center;}
  .col{display:flex;flex-direction:column;justify-content:center;align-items:center;}
  .cover{background-color:white;border-radius:20px;box-shadow:0px 0px 12px grey;transform:scale(1);transition:3s ease-in-out;padding:20px;margin:10px;display:flex;flex-direction:column;} 
	.cover-in{padding:20px;display:flex;justify-content:center;flex-direction:column;}
  .none{display:none;}
  
  
  /* coloring */
.cyan{color:cyan;}
.white{color:white;}
.blue{color:blue;}
.gradiant{background-color: blueviolet; width:80%;border-radius:15px;padding:5px;}
.span-darkblue{background-color: darkcyan;color:white;border-style: none;border-radius: 12px;padding:7px;}
.rounded1 {border-style: none;border-radius: 8px;}
img.rounded-img {border-style: none;border-radius: 50px 50px 0px 0px;}
.rounded2 {border-style: none;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.bgcol1{background-color: aquamarine;color:darkblue;}
.bgcol2{background-color: blue;color:aliceblue;}
.sticky{position: sticky;bottom:10px;}
.main{color:#1789c5;}
.sec{color:#0d5377;}
.sec2{color:#0f75bc;}
.sec3{color:#465a65;}
.soft{color:#cfe5ec;}
.bgmain{background-color:#cfe5ec;}
.bgsec{background-color:#465a65;}
.sedowtext{text-shadow:0px 0px 5px rgba(100,100,255,0.4);} /*cyan*/
.sedowtext2{text-shadow:0px 0px 5px rgba(255,255,255,0.4);} /*white*/
.sedowbox6{box-shadow:2px 2px 6px rgba(0,0,38,0.5);} /*darkblue*/
.sedowbox3{box-shadow:0px 0px 7px rgba(0,0,38,0.3);} /*darkblue*/
  span{padding:10px 16px;}
  .mid{padding:3px 10px;}
  button{padding:10px 16px;}
  .invite{transform:scale(1)opacity(1);}
  .invite:hover{transform:scale(1.2);border:2px solid rgba(00,255,220,0.7);transition:ease-in 0.1s;}
  .invite:active{transform:opacity(0);transition:ease-in 0.1s;}
  .margin1{margin:10px;}
  .margin2{margin:15px;}
  .datetable{
    color:#cfe5ec;
    background-color:#0d5377;
      padding:5px;
      margin:5px;
      border-top-left-radius:50%;
      border-top-right-radius:50%;
      border:#cfe5ec 2px solid;
      text-align: center;
      box-shadow: 3px 5px 7px rgba(188,188,188,0.3);
      width:100%;
  }
  .datex{
    width:70%;
      padding:3px;
      background-color:rgba(100,150,190,0.3);
      border-radius:10px;
      display:flex;
      flex-direction:row;
      justify-content:center;
      }
  .div100{
  display:flex;
  flex-direction:column;
  justify-content:center;
  }
  
  
  /* fonts */
  .miracle{font-family: Miracle}
@font-face{font-family: Miracle;src: url(https://www.katalogku.web.id/f/miracle.otf);}
.patrick{font-family: Patrick}
@font-face{font-family: Patrick;src: url(https://www.katalogku.web.id/f/patrick.ttf);}
.great-vibes{font-family: Greatvibes}
@font-face{font-family: Greatvibes;src: url(https://www.katalogku.web.id/f/greatvibes.ttf);}
.Albert500{font-family: Albert500}
@font-face{font-family: Albert500;src: url(https://www.katalogku.web.id/f/Albert500.ttf);}
.Albert900{font-family: Albert900}
@font-face{font-family: Albert900;src: url(https://www.katalogku.web.id/f/Albert900.ttf);}
.Dosis{font-family: Dosis}
@font-face{font-family: Dosis;src: url(https://www.katalogku.web.id/f/dosis.ttf);}
.lily{font-family: Lily}
@font-face{font-family: Lily;src: url(https://www.katalogku.web.id/f/lily.ttf);}
.ohchewy{font-family: Ohchewy}
@font-face{font-family: Ohchewy;src: url(https://www.katalogku.web.id/f/ohchewy.ttf);}
  
  /* size */
  .sizeA{font-size: 50px;}
  .sizeB{font-size: 40px;}
  .sizeC{font-size: 30px;}
  .sizeD{font-size: 20px;}
  .sizeE{font-size: 15px;}
  
  
  
  
  /* grading */
  .css-selector {
    background: linear-gradient(125deg, #17fdc2, #1c919d, #17fdea);
    background-size: 100% 100%;

    -webkit-animation: bgcover 6s ease infinite;
    -moz-animation: bgcover 6s ease infinite;
    animation: bgcover 6s ease infinite;
}

@-webkit-keyframes bgcover {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes bgcover {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes bgcover {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
  
  
  .fixing{position:relative;top:-340px;right:-190px;}
  .fixing2{position:relative;top:-170px;}
  .border2{display:block;width:100%;height:2rem;}
  .fixing3{position:relative;top:-100px;}
  .ctr{text-align:center;}
  .flip1{position:relative;top:-230px;transform:scaleY(-1);-webkit-transform:scaleY(-1);}
  .forflip{position:relative;}
  .bg{background: url(https://www.katalogku.web.id/client/topbg.svg);background-size:contain;;background-position:center;background-repeat:no-repeat;width:400px;height:160px;object-fit:contain;}
  .fixing1{position:relative;top:40px;}
  .fixing4{position:relative;top:16px;}
  .fixing5{position:relative;top:-125px;left:-23px;}
  .fixing6{position:relative;top:-110px;}
  .fixing7{position:relative;top:-39px;right:-30px;}
  .fixing8{position:relative;top:-110px;}
  .fixing9{position:relative;top:-70px;}
  .bg2{background: url(https://www.katalogku.web.id/client/newtopbg.svg);background-size:contain;background-position:center;background-repeat:no-repeat;height:310px;object-fit:contain;}
  .bg3{background: url(https://www.katalogku.web.id/client/newbotbg.svg);background-size:contain;background-position:center;background-repeat:no-repeat;height:310px;object-fit:contain;}
  .date{position:relative;bottom:-27px;left:-25px;}
  .marg{margin:5px;}
  .flip2{position:relative;transform:rotateX(180deg);top:-50px;}
  .flip3{position:relative;transform:rotateX(180deg);top:-80px;}



  /* animate */
  .scale{position:relative;animation:myfade 4s;}
  .fade{position:relative;animation:myfade2 3s;}
  .fade2s{position:relative;animation:myfade2 5s;}
  .fade3{position:relative;animation:myfade3 4s;}
  .idle{position:relative;animation:idle 9s infinite ease-in-out;}
  .idle1{position:relative;animation:idle2 9s infinite ease-in-out;}
  .idle2{position:relative;animation:flower2 9s infinite ease-in-out;}
  .idle3{position:relative;animation:flower3 9s infinite ease-in-out;}
  .outlines{position:relative;animation:myoutlines 4s infinite;}
  .highlight{position:relative;animation:highlights 4s infinite;}
  .idleflower{position:relative;animation:flower 7s infinite;}
  .change1{position:relative;animation:changeit1 5s infinite ease;animation-delay:5s;}
  .change2{position:relative;animation:changeit1 5s infinite ease;animation-delay:6s;}
  .change3{position:relative;animation:changeit1 5s infinite ease;animation-delay:7s;}
  .change4{position:relative;animation:changeit1 5s infinite ease;animation-delay:8s;}
  .change5{position:relative;animation:changeit2 4s infinite ease;}
  @keyframes changeit1{
    from{background-color:#465a65;color:#cfe5ec;}
    to{background-color:#cfe5ec;color:#465a65;}
  }
  @keyframes changeit2{
    from{background-color:#cfe5ec;color:#465a65;}
    to{background-color:#465a65;color:#cfe5ec;}
  }
  @keyframes flower{
    0%{transform:scaleY(1)rotateX(-10deg)rotateY(-10deg);top:0;left:0;}
    50%{transform:scaleY(1.1)rotateX(10deg)rotateY(10deg);top:0;left:0;}
    100%{transform:scaleY(1)rotateX(-10deg)rotateY(-10deg);top:0;left:0;}
  }
  @keyframes flower2{
    0%{transform:scaleY(-1)rotateX(-10deg)rotateY(-10deg);}
    50%{transform:scaleY(-1.3)rotate(-5deg);}
    100%{transform:scaleY(-1)rotateX(-10deg)rotateY(-10deg);}
  }
  @keyframes idle2{
    0%{transform:scaleY(-1);}
    50%{transform:scaleY(-1.4)rotate(-5deg);}
    100%{transform:scaleY(-1);}
  }
  @keyframes flower3{
    0%{transform:scaleY(1)rotateX(-10deg)rotateY(-10deg);}
    50%{transform:scaleY(1.2)rotate(-2deg);}
    100%{transform:scaleY(1)rotateX(-10deg)rotateY(-10deg);}
  }
  @keyframes myfade {
    from{opacity:0;transform:scale(0);}
    to{opacity:1;transform:scale(1);}}
  .outlines{position:relative;animation:myoutlines 4s;}
  @keyframes myfade2 {
    from{opacity:0;transform:scaleX(0)scaleY(-1)scale(0);}
    to{opacity:1;transform:scaleX(1)scaleY(1);}} 
  .outlines{position:relative;animation:myoutlines 2s infinite;}
  @keyframes myfade3 {
    from{opacity:0;}
    to{opacity:1;}}
  @keyframes myoutlines{
    0%{text-shadow:0px 5px 10px rgba(00,99,00,0.7);}
    50%{text-shadow:0px 5px 10px rgba(00,99,99,0.7);}
    100%{text-shadow:0px 5px 10px rgba(00,99,00,0.7);}}
  @keyframes idle {
    0%{transform:scaleX(1)scaleY(1)skewX(0deg)skewY(0deg)rotate(0deg);}
    50%{transform:scaleX(0.9)scaleY(1)skewX(1deg)skewY(-5deg)rotate(1deg)scale(1.1);}
  	100%{transform:scaleX(1)scaleY(1)skewX(0deg)skewY(0deg)rotate(0deg);}}
  @keyframes highlights{
    0%{color:rgba(00,59,100,1);}
    50%{color:rgba(00,79,159,1);}
    100%{color:rgba(00,59,100,1);}}
  
  @keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}
    