/* $Id: $ */

/* Form Structure for ZOHO Survey */

*:active,
*:focus,
a:focus {
  outline: none !important;
  text-decoration: none;
}

body,
html {
  background-color: #EAEAEA;
  margin: 0;
  font-variant-ligatures: no-common-ligatures;
}

input[type=text],
input[type=password],
input[type=email],
input::-webkit-credentials-auto-fill-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="password"]::-ms-reveal,
select::-ms-expand {
  /* Removing microsoft defaults */
  display: none;
}

.disabled {
  cursor: default;
}

/* overwriting third party plugin styles */

#nprogress .bar,
#nprogress .peg {
  background: #EA5D5F;
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px #EA5D5F, 0 0 5px #EA5D5F;
  -moz-box-shadow: 0 0 10px #EA5D5F, 0 0 5px #EA5D5F;
  -ms-box-shadow: 0 0 10px #EA5D5F, 0 0 5px #EA5D5F;
  box-shadow: 0 0 10px #EA5D5F, 0 0 5px #EA5D5F;
}

/* Dialogs Properties Starts */

/* Remotely Modified Alert Starts */
.remotelyModified {
  padding: 35px 50px;
  width: 480px;
  text-align: center;
}
/* Geo LocationDisable */
.geoDialog{
	width: calc(100% - 40px) !important;
}
.geoLocationDialogPop{
    background:#fafafa;
  }
.geoLocationDialogPop .dialogPoptitle{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}
.geoLocationDialogPop .modal-header{
  padding:20px 0 0;
}
.geoLocationDialogPop .remotelyModified {
  padding:30px 45px;
  max-width:630px;  
  width:100%;
}
.geoLocationDialogPop .remotelyModified.geoPopSurvey {
  padding:20px 25px !important;
  width:300px !important;  
}
.geoLocationDialogPop .BtnpLocationProceed{ 
  width:100%; 
  max-width:inherit;
  padding:20px;
}
.redLink{
  color:#DE5456 !important;
}
.redLink:hover{
  text-decoration: none;
}
.infoIconBlack{
  display: flex;
}
.remotelyModified .msg,
.savingFailure .msg {
  line-height: 1.6;
}

/* Remotely Modified Alert Ends */

/* Error on saving form Alert Starts */
.savingFailure {
  padding: 35px 50px;
  width: 570px;
  text-align: center;
}

/* Error on saving form Alert Ends */

/* Response error Alert Starts */

.responseError {
  max-width: 400px;
}

.responseError .errorIcon {
  margin: 0 auto;
  padding-top: 45px;
  width: 50px;
  height: auto;
}

.responseError .msg {
  margin-bottom: 30px;
  line-height: 1.4;
}

/* Response error Alert Ends */

/* Saving form and Timer request dialog starts */

.savingSucceed,
.timerRequestDialog {
  padding: 0px 50px 60px;
  width: 560px;
}

.savingSucceed .descriptiveNote,
.timerRequestDialog .descriptiveNote {
  color: #666;
  font-size: 13px;
}

.timerRequestDialog .descriptiveNote {
  margin-bottom: 50px;
}

.savingSucceed .linkBox {
  position: relative;
  border: 1px solid #d3eeee;
  background-color: #f9fcfc;
  padding: 8px 5px 8px 15px;
}

.savingSucceed .uniqueLinkText {
  display: inline-block;
  border: none;
  padding: 0;
  width: 90%;
  background-color: unset;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.savingSucceed .btnCopyLink {
  position: absolute;
  top: 0;
  right: 5px;
  border: none;
  padding: 0;
  width: 30px;
  height: 32px;
  background: url("../images/copyIconPuertoRico.svg") no-repeat center center/12px;
  cursor: pointer;
}

.savingSucceed .txtBox {
  width: calc(100% - 110px);
  vertical-align: middle;
}

.savingSucceed .btnSend {
  display: inline-block;
  border: none;
  padding: 9px 15px 10px;
  margin-left: 10px;
  width: 95px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}
/* Saving form dialog ends */
/* Sensitive info note starts */
.securityNote {
  margin-top: 15px;
  font-size: 15px;
}

.securityNote .formGraphic {
  display: inline-block;
  margin-right: 0.3em;
  width: 1.4em;
  height: 1.4em;
  vertical-align: top;
}

.securityNote .noteContent {
  line-height: 1.4em;
}
/* Sensitive info note ends */
/* Time request dialog starts */
.timerRequestDialog .emailBlock {
  width: 340px;
}
.timerRequestDialog .timeBlock {
  padding-left: 10px;
}
.timerRequestDialog .buttonCTA {
  margin-top: 50px;
}
/* Time request dialog ends */
/* Dialogs Properties Ends */

/* Image Viewer Starts */

.imageViewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.imageViewer .closeImgViewer {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 15px;
  width: 45px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.imageViewer .closeImgViewer polygon {
  fill: #eeeeee;
}

.imageViewer .imageContainer {
  height: 100%;
  overflow: auto;
}

.imageViewer .imageContainer.imageType {
  height: calc(100% - 80px);
}

.imageLoadingText {
  color: #DDDDDD;
  font-size: 25px;
  text-align: center;
}

.imageContent {
  display: block;
  padding: 10px;
  margin: 0 auto;
  background-color: transparent;
}

.imageInfoBar {
  /* Cross browser flex props starts */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* Cross browser flex props ends */
  position: fixed;
  bottom: 0;
  padding: 15px 40px;
  width: 100%;
  background-color: #1A1A1A;
  font-size: 16px;
  color: #FFFFFF;
}

.imgCounter {
  width: 85px;
}

.imgLbl {
  width: 100%;
  max-width: 65%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto;
  text-align: center;
}

.imgNav button {
  border: none;
  width: 50px;
  height: 45px;
  background-size: 18px auto !important;
  cursor: pointer;
}

.imgNav .btnNavPrvs {
  background: url("../form-images/arrow_white_left.svg") transparent no-repeat center center;
}

.imgNav .btnNavNxt {
  margin-left: 20px;
  background: url("../form-images/arrow_white_right.svg") transparent no-repeat center center;
}

/* Image viewer ends */

.container-fluid {
  padding: 0;
}

.container-fluid .form-page {
  margin: 0;
}

.container-fluid>.row,
.container-fluid>.row>.col-xs-12 {
  margin: 0;
  padding: 0;
}

.container.move-left {
  margin-left: 35px;
}

.container.move-right {
  margin-right: 35px;
}

.saveSurveyBand {
  background-color: #626d72;
}

.maxTimer {
  position: fixed;
  bottom: 0;
  padding: 7px 80px 12px;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 3;
}

.maxTimer.overSaveContinueBand {
  bottom: 35px;
}

.maxTimer .timerContentContainer {
  text-align: center;
}

.maxTimer.withRequestLink .timerContentContainer {
  margin: 0 auto;
  max-width: 62%;
}

.maxTimer .timerContent,
.minTimer .timerContent {
  -webkit-margin-end: 5px;
  -moz-margin-end: 5px;
  margin-inline-end: 5px;
  margin-right: 5px;
}

.maxTimer .digiClock {
  display: inline-block;
  margin-top: 5px;
  font-weight: 600;
}

.maxTimer .requestLink {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}

.saveSurveyBand,
.errorBand {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  z-index: 50;
  -webkit-transform: translateY(-120px);
  -moz-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.saveSurveyBand.placedBottom {
  top: auto;
  bottom: 0;
  -webkit-transform: translateY(120px);
  -moz-transform: translateY(120px);
  -ms-transform: translateY(120px);
  transform: translateY(120px);
}

.saveSurveyBand.static {
  position: absolute;
}

.saveSurveyBand .linkSaveSurvey {
  display: inline-block;
  margin: 10px 15px;
  color: #fff;
  font-size: 13px;
}

.saveSurveyBand .linkSaveSurvey:hover {
  text-decoration: underline;
  cursor: pointer;
}

.errorBand {
  background-color: #FF5F54;
}

.saveSurveyBand.slideIn,
.errorBand.slideIn {
  height: auto;
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.errorBand.scrollTop {
  position: absolute;
  top: 45px;
}

.errorBandText {
  padding: 12px 0;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
  color: #fff;
}

.btnRemoveWhite {
  background-color: transparent;
}

.btnRemoveWhite .removeIconVector {
  width: 12px;
  height: 12px;
}

.error-message {
  margin-bottom: 10px;
  font-size: 13px;
}

.surveyQuestion .error-message {
  max-width: 60%;
}

.surveyQuestion .qNos {
  font-size: 20px;
  line-height: 1.4;
}

.error-message .error-text {
  color: #ff5f54;
}

.error-message .next-error-link {
  margin-left: 10px;
  border-left: 1px solid #e6e6e6;
  padding-left: 10px;
  color: #5f98d0;
}

.errorField {
  border-color: #e13427;
}

.response-form.errorBandVisible .errorBand {
  position: fixed;
}

.response-form.errorBandVisible .lingualMenu {
  margin-top: 39px;
}

.response-form.relative,
.qSavedElements {
  position: relative;
}

.btnRemoveWhite {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  border: none;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.form-page {
  margin: 70px 0 120px;
}

.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 120px;
  overflow: hidden;
}

.form-header .header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 0 0;
}

.form-header .header-branding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 30px);
  word-wrap: break-word;
}

.header-logo {
  margin-top: 1em;
  margin-bottom: 1em;
  height: auto;
  max-height: 150px;
  text-align: center;
}

.header-title {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 100%;
  font-weight: normal;
  word-break: keep-all;
  text-align: center;
}

.header-logo+.header-title {
  margin-top: 0;
}

.header-logo.hide+.header-title {
  margin-top: 1em;
}

.form-header .header-branding.move-left {
  flex-direction: row;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
  right: auto;
  left: 0px;
}

.form-header .header-branding.move-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  margin-right: 30px;
  right: 0px;
  left: auto;
}

.form-header .header-branding.move-left .header-title {
  margin: 0 0 0 15px;
  max-width: 70%;
  text-align: left;
}

.form-header .header-branding.move-right .header-title {
  margin: 0 15px 0 0;
  max-width: 70%;
  text-align: right;
}

.form-section {
  padding: 40px 60px;
  min-height: 300px;
}

.publicMessage.restriction {
  margin-top: 75px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.surveyQuestion {
  border-top: none;
  border-bottom: 1px dashed #DCDCDC;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: none;
}

.surveyQuestion:first-of-type {
  padding-top: 0 !important;
}

.surveyQuestion.lastQuestion {
  border-bottom: none !important;
}

.form-footer {
  position: relative;
  padding: 20px 30px;
  height: auto;
}

.footer-branding {
  text-align: center;
  font-size: 0.85rem;
}


.footer-branding.move-left {
  text-align: left;
}

.footer-branding.move-right {
  text-align: right;
}

.footer-branding .logoLabel {
  display: inline-block;
  color: #999999;
  vertical-align: middle;
}

.footer-branding .footer-logo {
  display: inline-block;
  margin-left: 5px;
  width: 105px;
  height: 20px;
  background: url("../form-images/zsLogo.svg") no-repeat;
  vertical-align: middle;
  background-size: 105px auto;
}

.footer-branding .subtitle {
  margin: 5px 0 0;
}

/* -- Form Common Properties -- */

.deviceLangSelect {
  display: none;
  margin-top: 7px;
  border-radius: 0;
  padding: 0 22px 0 8px;
  height: 30px;
  color: #FFFFFF;
  font-weight: 400;
  background-color: transparent;
  background: url("../form-images/selectboxArrowWhite.svg") no-repeat;
  background-size: auto 6px;
  background-position: 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lingualMenu {
  width: 100%;
  height: 45px;
  font-size: 14px;
  background-color: #000000;
  text-align: center;
  z-index: 20;
}

.lblLingualMenu {
  display: inline-block;
  font-weight: 400;
  color: #999999;
}

.languageList {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.languageList .navItem {
  display: inline-block;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
  line-height: 3;
}

.languageList .navItem .langLink {
  text-decoration: none;
  font-size: 14px;
  color: #CCCCCC;
  -webkit-transition: color 0.3s ease, border-color 0.3s ease;
  -moz-transition: color 0.3s ease, border-color 0.3s ease;
  -ms-transition: color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.languageList .navItem .langLink:hover {
  color: #DCDCDC;
}

.languageList .navItem::after {
  display: inline-block;
  position: relative;
  left: 20px;
  content: "/";
  color: #999999;
}

.languageList .navItem:last-child::after {
  display: none;
}

.languageList .navItem.selected {
  border-bottom-color: #44C5C3;
}

.languageList .navItem.selected .langLink {
  font-weight: 400;
  color: #FFFFFF;
}

.languageList .navItem .itemLink {
  padding: 10px 30px;
}

.languageList .droplist {
  left: 50%;
  border: 1px solid #DBDBDB;
  -webkit-transform: translateX(-50%) scaleY(0);
  -moz-transform: translateX(-50%) scaleY(0);
  -ms-transform: translateX(-50%) scaleY(0);
  transform: translateX(-50%) scaleY(0);
}

.languageList .droplist::before {
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #DBDBDB;
}

.languageList .droplist::after {
  position: absolute;
  top: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
}

.languageList .open .droplist {
  padding: 10px 0;
  -webkit-transform: translateX(-50%) scaleY(1);
  -moz-transform: translateX(-50%) scaleY(1);
  -ms-transform: translateX(-50%) scaleY(1);
  transform: translateX(-50%) scaleY(1);
}

.languageList .dropdown-toggle {
  display: inline-block;
  border: none;
  height: 25px;
  background: none;
}

.iconMoreHorizontal {
  display: block;
  width: 15px;
  height: 15px;
}

.zsf_Seqno {
  display: none;
}

.pageTitleDesc {
  position: relative;
  margin-bottom: 40px;
  border-bottom: 3px solid #000000;
  padding: 0 0 25px;
  text-align: center;
  color: #323428;
}

.pageTitleDesc .pageTitle {
  display: inline-block;
  position: relative;
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.questionsList {
  padding: 0;
}

.form-section .qNos {
  float: left;
}

.formActions {
  position: relative;
  margin-top: 50px;
}

.formActions.justified::after {
  display: block;
  content: "";
  clear: both;
  overflow: hidden;
}

.formActions.justified .btnFormAction.next,
.formActions.justified .btnFormAction.submit {
  float: right;
}

.btnFormAction {
  display: inline-block;
  margin-bottom: 15px;
  border-radius: 0;
  padding: 15px 40px;
  min-width: 120px;
  max-width: 47%;
  line-height: 1.4;
  letter-spacing: 0.3px;
  vertical-align: middle;
  cursor: pointer;
}

.btnFormAction.previous {
  margin-right: 15px;
}

.rotate180 {
  transform: rotate(180deg);
}

.PrevNext {
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #fff;
  border-top: 1px solid #eee;
  height: 64px;
  line-height: 40px;
  z-index: 100000;
}

.PrevNext button.btnFormAction {
  margin-bottom: 0;
  padding: 12px 10px;
}

.PrevNext .nextTxt,
.PrevNext .prevTxt,
.PrevNext button.btnFormAction {
  width: auto;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PrevNext .nextTxt {
  float: left;
}

.PrevNext .prevTxt {
  float: right;
}

/* Timer - Minimum Duration Starts */
.minTimer {
  margin-top: 15px;
}

.minTimer .timerContent,
.minTimer .digiClock {
  display: inline-block;
}

.minTimer .digiClock {
  font-weight: 600;
}
/* Timer - Minimum Duration Ends */
/* Question Hint Starts */

.hintContainer {
  float: right;
  width: 26px;
}

.btnHint {
  border-radius: 50%;
  border: 1px #DDDDDD solid;
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: transparent;
  font-family: serif;
  font-size: 16px;
  cursor: pointer;
}

.hintPopover {
  position: absolute;
  right: -5px;
  border: 1px #F2F2F2 solid;
  width: auto;
  height: auto;
  max-width: 700px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.12);
  z-index: 3;
}

.hintBody {
  padding: 35px 45px 35px 35px;
  width: auto;
  height: auto;
  max-height: 270px;
  overflow-y: auto;
}

.hintImg {
  margin-bottom: 20px;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 150px;
}

.hintMsg {
  margin: 0;
  line-height: 1.4;
}

.closePopover {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  padding: 0;
  width: 10px;
  height: 16px;
  background-color: transparent;
}

/* Question Hint Ends */

/* Form Progress Bar Starts */

.progressSection {
  margin: 0 auto;
  width: 100%;
  min-width: 250px;
}

.progressSection.pageTop {
  margin-bottom: 50px;
}

.progressSection .progress,
.progressSection .progress-bar {
  height: 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.progressSection .progress {
  display: inline-block;
  margin: 0 15px;
  width: 50%;
  max-width: 600px;
  vertical-align: middle;
  background-image: none;
  background-color: #E9E9E9;
}

.progress-bar {
  margin: 0;
  background-image: none;
  background-color: pink;
}

.currentPage,
.progressLevel {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 400;
}

/* Form Progress Bar Ends */

/* Question review link starts */
.reviewLink {
  position: absolute;
  border-radius: 12px;
  left: -25px;
  top: -20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  min-width: 25px;
  background-color: #44c5c3;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.reviewLink::after {
  position: absolute;
  bottom: -5px;
  right: -1px;
  transform: rotate(45deg);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #44c5c3;
  content: "";
}

.reviewLink.active {
  background-color: #EA5D5F;
}

.reviewLink.active::after {
  border-left: 8px solid #EA5D5F;
}

/* Question review link ends */

/* Header, Page Description, Buttons, Footer section review link starts */
.form-header .reviewLink,
.form-footer .reviewLink {
  top: 5px;
  left: 5px;
}

.pageTitleDesc .reviewLink,
.formActions .reviewLink,
.passwordProtection .reviewLink,
.introTermsCondition .reviewLink {
  left: -55px;
}
.introTermsCondition .reviewLink {
  top: -5px;
}
.introTermsCondition .termsConReview .reviewLink {
  top: 20px;
}
/* Header, Page Description, Buttons, Footer section review link starts */

/* Password Protected Screen Starts */

.loginForm {
  margin: 40px auto 0;
}

.loginForm .error-message,
.captchaSection .error-message {
  margin-left: 0;
  text-align: center;
}

.protectedMsg {
  font-size: 20px;
  font-weight: 300;
  margin-top: 40px;
}

.illustration {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: #EA5D5F;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.zsIconLock {
  width: 30px;
  height: auto;
}

.zsIconLock path {
  fill: #FFFFFF;
}

.passwordFieldSect {
  position: relative;
  display: inline-block;
  width: 280px;
}

.passwordField {
  border: 1px solid #AAAAAA;
  padding: 0.5em 2.5em 0.5em 0.7em;
  width: 100%;
  font-size: 15px;
  line-height: 1.4;
  background-color: transparent;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transition: border 0.3s;
  transition: border 0.3s;
}

.passwordField:hover {
  border-color: #777777;
}

.passwordField:focus,
.passwordField:focus:hover {
  border-color: #44C5C3;
}

.btnPreviewPassword {
  position: absolute;
  top: 0;
  right: 1px;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 0 12px;
  width: 40px;
  height: 100%;
  background-color: transparent;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.unlockForm {
  display: block;
  margin: 15px auto 0;
  width: 280px;
  max-width: 100%;
  background-color: rgba(234, 93, 95, 1);
  color: #FFFFFF;
}

/* Password Protected Screen Ends */
.previewEndActionFrame {
  padding: 65px 85px;
  width: 90%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
}

.previewEndActionFrame .previewEndMessage {
  margin: 0 auto;
  font-size: 35px;
}

.previewEndActionFrame .previewEndActions {
  margin-top: 40px;
}

.previewEndActions .btnPreviewAct {
  border: 2px solid #E0E0E0;
  padding: 13px 0;
  width: 180px;
  background-color: transparent;
  font-size: 16px;
  color: #333333;
  vertical-align: middle;
}

.btnPreviewAct.replayPreview {
  margin-left: 10px;
}

.btnPreviewAct.replayPreview:hover {
  border-color: #000000;
  transition: border-color 0.25s linear;
}

/* Captcha Starts */

.captchaSection {
  margin-top: 50px;
}

.captchaContainer {
  margin: 0 auto;
}

.captcha {
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 180px;
  text-align: center;
}

.captchaImage {
  width: 100%;
}

.btnChangeCaptcha {
  position: absolute;
  top: 20px;
  right: -35px;
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
}

.btnChangeCaptcha .vectorArrow {
  fill: #231F20;
}

.btnChangeCaptcha .vectorLine {
  fill: none;
}

.btnChangeCaptcha .vectorArrow,
.btnChangeCaptcha .vectorLine {
  stroke: #231F20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.25px;
}

.captchaIO {
  margin: 0 auto;
  width: 280px;
}

.captchaIO .captchaField {
  border: 1px solid #50D7CC;
  padding: 0.48em 0.72em;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  -webkit-appearance: none;
  transition: border 0.2s, background-color 0.2s;
  -webkit-transition: border 0.2s, background-color 0.2s;
  -moz-transition: border 0.2s, background-color 0.2s;
}

/* Captcha Ends */
/* Popup survey card container start*/
.cardContainer .form-header {
	min-height: 70px;
}

.cardContainer .questionsList .surveyQuestion {
	border-bottom-width: 0 !important;
	padding-top: 0px;
	padding-bottom: 10px;
}

.cardContainer .form-page {
	position: fixed;
    height: calc(100% - 64px);
    overflow: auto;
    width: 100%;
}

.cardContainer .surveyQuestion .qNos, .cardContainer .surveyQuestion .questionText {
	font-size: 18px !important;
}

.cardContainer .passwordField,
.cardContainer .surveyQuestion .inTextbox,
.cardContainer .surveyQuestion .txtOtherChoice,
.cardContainer .surveyQuestion .essayTxtArea,
.cardContainer .surveyQuestion .cmtTxtArea,
.cardContainer .surveyQuestion .additionalField .cmtTxtArea,
.cardContainer .surveyQuestion .calendar .calendarText,
.cardContainer .captchaIO .captchaField {
	border-width: 1px;
	border-radius: 0;
}

.cardContainer .btnFormAction.unlockForm,
.cardContainer .btnFormAction.submit {
	border-width: 0;
	font-size: 14px;
}

.cardContainer.addedMaxTimer {
  height: calc(100% - 110px);
}

/* Card Survey with timer */
.inPopoutSurvey.maxTimer {
  bottom: 64px;
}
/* Popup survey card container End*/
/* Action status notification starts */
.messageContainer {
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 3px;
  border: solid 1px #ffffff;
  padding: 10px 15px;
  width: auto;
  min-width: 400px;
  max-width: 500px;
  min-height: 60px;
  font-size: 1rem;
  background-color: #ffffff;
  visibility: hidden;
  position: fixed;
  display: table;
  color: #333;
  z-index: 1100;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.09), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  animation: messageShow 0.25s linear 0s 1 forwards, messageHide 0.25s ease-out 3.25s 1 forwards;
  -moz-animation: messageShow 0.25s linear 0s 1 forwards, messageHide 0.25s ease-out 3.25s 1 forwards;
  -webkit-animation: messageShow 0.25s linear 0s 1 forwards, messageHide 0.25s ease-out 3.25s 1 forwards;
}

.messageContainer .messageText {
  width: 87%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
  line-height: 1.4;
}

.messageContainer .messageText .messageInfoText {
  font-size: 1rem;
  color: #666666;
}

.messageContainer .messageIcon {
  display: table-cell;
  float: none !important;
  width: 32px;
  height: 36px;
  vertical-align: middle;
}

.messageContainer .plusIco {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url("../form-images/remove_black.svg") no-repeat rgba(0, 0, 0, 0);
  background-position: center center;
  width: 16px;
  height: 16px;
  background-size: 10px;
  opacity: 0.75;
}

.messageContainer .plusIco:hover {
  opacity: 1;
}

.messageContainer.successMessage {
  border-color: #60c060;
  -webkit-box-shadow: 0px 10px 15px 0 rgba(27, 151, 27, 0.1);
  -moz-box-shadow: 0px 10px 15px 0 rgba(27, 151, 27, 0.1);
  box-shadow: 0px 10px 15px 0 rgba(27, 151, 27, 0.1);
}

.messageContainer.successMessage .messageIcon {
  background: url("../form-images/successTick.svg") no-repeat center;
}

.messageContainer.failedMessage {
  border-color: #da4932;
  -webkit-box-shadow: 0px 10px 15px 0 rgba(218, 73, 50, 0.1);
  -moz-box-shadow: 0px 10px 15px 0 rgba(218, 73, 50, 0.1);
  box-shadow: 0px 10px 15px 0 rgba(218, 73, 50, 0.1);
}

.messageContainer.failedMessage .messageIcon {
  background: url("../form-images/failClose.svg") no-repeat center;
}

/* Action status notification ends */

/* RTL styling form-structure starts */

/* Image Viewer Starts */

html[dir="rtl"] .imageViewer {
  right: 0;
  left: auto;
}

html[dir="rtl"] .imageViewer .closeImgViewer {
  right: auto;
  left: 22px;
}

html[dir="rtl"] .imgNav .btnNavPrvs {
  background-image: url("../form-images/arrow_white_right.svg");
}

html[dir="rtl"] .imgNav .btnNavNxt {
  margin-left: auto;
  margin-right: 20px;
  background-image: url("../form-images/arrow_white_left.svg");
}

/* Image viewer ends */

html[dir="rtl"] .container.move-left {
  margin-right: 35px;
  margin-left: auto;
}

html[dir="rtl"] .container.move-right {
  margin-left: 35px;
  margin-right: auto;
}

html[dir="rtl"] .form-section .qNos,
html[dir="rtl"] .error-message .error-text {
  float: right;
}

html[dir="rtl"] .error-message .next-error-link {
  float: right;
  margin-right: 10px;
  margin-left: auto;
  border-right: 1px solid #e6e6e6;
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
}

html[dir="rtl"] .btnRemoveWhite {
  left: 20px;
  right: auto;
}

html[dir="rtl"] .form-header .header-branding.move-right {
  flex-direction: row;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
  right: auto;
  left: 0px;
}

html[dir="rtl"] .form-header .header-branding.move-left {
  margin-right: 30px;
  right: 0px;
  left: auto;
}

html[dir="rtl"] .form-header .header-branding.move-left .header-title,
html[dir="rtl"] .form-header .header-branding.move-right .header-title {
  margin: 0 15px 0 0;
  text-align: right;
}

html[dir="rtl"] .leftAlignDesc .pageTitleDesc {
  text-align: right;
}

html[dir="rtl"] .progressSection.text-left {
  text-align: right;
}

html[dir="rtl"] .footer-branding.move-left {
  text-align: right;
}

html[dir="rtl"] .footer-branding .footer-logo {
  margin-left: auto;
  margin-right: 5px;
}

/* -- Form Common Properties -- */
/* Review comment count bubble RTL starts */
html[dir="rtl"] .reviewLink {
  left: auto;
  right: -25px;
}

html[dir="rtl"] .reviewLink:after {
  left: -1px;
  right: auto;
  border-left-width: 0;
  border-right: 8px solid #44c5c3;
  transform: rotate(-45deg);
}

html[dir="rtl"] .reviewLink.active::after {
  border-right: 8px solid #EA5D5F;
}

/* Header, Page Description, Buttons, Footer section review link starts */
html[dir="rtl"] .form-header .reviewLink,
html[dir="rtl"] .form-footer .reviewLink {
  right: 5px;
  left: auto;
}

html[dir="rtl"] .pageTitleDesc .reviewLink,
html[dir="rtl"] .formActions .reviewLink {
  right: -55px;
  left: auto;
}
/* Header, Page Description, Buttons, Footer section review link starts */

/* Review command count bubble RTL ends */

html[dir="rtl"] .deviceLangSelect {
  padding: 0 22px 0 8px;
  background-position: 95% 50%;
}

html[dir="rtl"] .languageList .navItem::after {
  right: 20px;
}

html[dir="rtl"] .languageList .droplist {
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(0);
  -moz-transform: translateX(-50%) scaleY(0);
  -ms-transform: translateX(-50%) scaleY(0);
  transform: translateX(-50%) scaleY(0);
}

html[dir="rtl"] .languageList .droplist::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

html[dir="rtl"] .languageList .droplist::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

html[dir="rtl"] .languageList .open .droplist {
  -webkit-transform: translateX(-50%) scaleY(1);
  -moz-transform: translateX(-50%) scaleY(1);
  -ms-transform: translateX(-50%) scaleY(1);
  transform: translateX(-50%) scaleY(1);
}

html[dir="rtl"] .formActions.text-left {
  text-align: right;
}

html[dir="rtl"] .formActions.justified .btnFormAction.next,
.formActions.justified .btnFormAction.submit {
  float: right;
}

html[dir="rtl"] .btnFormAction.previous {
  margin-right: auto;
  margin-left: 15px;
}

/* Question Hint Starts */

html[dir="rtl"] .hintContainer {
  float: left;
}

html[dir="rtl"] .hintPopover {
  right: auto;
  left: -5px;
}

html[dir="rtl"] .hintBody {
  padding: 35px 45px 35px 35px;
}

html[dir="rtl"] .closePopover {
  right: auto;
  left: 15px;
}

/* Question Hint Ends */

/* Password Protected Screen Starts */

html[dir="rtl"] .loginForm .error-message {
  margin-right: 0px;
  margin-left: auto;
}

html[dir="rtl"] .loginForm .error-message .error-text {
  float: none;
}

html[dir="rtl"] .passwordField {
  padding: 0.5em 0.7em 0.5em 2.5em;
}

html[dir="rtl"] .btnPreviewPassword {
  right: auto;
  left: 1px;
  border-radius: 0 3px 3px 0;
}

/* Password Protected Screen Ends */

/* End of Preview Page Starts */

html[dir="rtl"] .btnPreviewAct.replayPreview {
  margin-left: auto;
  margin-right: 10px;
}

/* Captcha Starts */
html[dir="rtl"] .captchaSection .error-message .error-text {
  float: none;
}

html[dir="rtl"] .btnChangeCaptcha {
  right: -35px;
}

/* Captcha Ends */
/* Timer starts */
html[dir="rtl"] .maxTimer .timerContent,
html[dir="rtl"] .minTimer .timerContent {
  -webkit-margin-start: 0;
  -moz-margin-start: 0;
  margin-inline-start: 0;
  margin-right: 0;
  margin-left: 5px;
}
/* Timer ends */
/* Saving form succeed dialog starts */
html[dir="rtl"] .savingSucceed .linkBox {
  padding: 8px 15px 8px 5px;
}

html[dir="rtl"] .savingSucceed .btnCopyLink {
  right: auto;
  left: 5px;
}

html[dir="rtl"] .savingSucceed .btnSend {
  margin-left: 0;
  margin-right: 10px;
}

html[dir="rtl"] .popupClose {
  right: auto;
  left: 15px;
}

html[dir="rtl"] .messageContainer .plusIco {
  right: auto;
  left: 10px;
}

html[dir="rtl"] .messageContainer .messageText {
  padding-right: 10px;
  text-align: right;
}
/* TimeOut alert */
.timeOutNotification{
    width: 400px;
    padding: 10px 15px 10px 20px;
    margin: 0 auto;
    display: flex;
    border-radius: 3px;
    gap: 20px;
    position: fixed;
    align-items: center;
    top: 35px;
    left: 50%;
    transform:translateX(-50%);
    z-index: 1;
    background: #626d72; 
    color:#fff; 
    border:1px solid #fff
}
.timeOutNotification svg { fill: #fff }
/* Saving form succeed dialog ends */
/* RTL styling form-structure ends */

/* Media query properties on seperate file (base-form-media.css) */
