/*DESKTOP*/

@media (min-width: 801px)
{
	#desktop, #promo
	{
		display:block;	
	}
	
	#mobile
	{
		display:none;	
	}
	
}

@media (max-width: 800px) 
{
	#desktop, #promo
	{
		display:none;	
	}
	
	#mobile
	{
		display:block;	
	}
}

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-size:16px;
}

.boxprod{
	display:block; 
	width:100%; 
	height:130px; 
	position:absolute; 
	top:100px !important; 
	left:0%; 
	display:none; 
	z-index: 2;
}
	
.logodiv{
	float:left; 
	margin-left:0px;
}
.bgdatapasaran{
	height: 182px; 
	padding: 10px 0px 0px 0px;
}

#dataPasaran a:hover
{
	text-decoration:none;
}

.togelonline-div{	
	height: 40px; 
	margin-top: 10px;
	padding: 5px 5px 5px 10px;
	font-size: 20px;
	font-style:italic;
}
.togelonline-div-info{
	margin-left: 20px;
	font-size: 15px;
}
.sliderwh{
	width: 100%; height:100%;
}
.piclmd-div{
	width:331px;
}
.piclmd-title{
	font-size:20px;
	padding:14px 10px 0px 22px; 
	font-style:italic;
}
.piclmd-info{
	font-size: 15px;
	padding:0px 10px 10px 22px;
}
.piclmd-img{
	background-size: 331px; 
	width:331px; 
	height:159px;
}
#picleft{
	background:url(../images/picleft.jpg) no-repeat;
	background-size: 331px;
	transition: 2s;
}
	
#picleft:hover{
	background:url(../images/picleft-b.jpg) no-repeat;
	background-size: 331px;
	transition: 0.3s;
}
	
#picmid{
	background:url(../images/picmid.jpg) no-repeat;
	background-size: 331px;
	transition: 2s;
}
	
#picmid:hover{
	background:url(../images/picmid-b.jpg) no-repeat;
	background-size: 331px;
	transition: 0.3s;
}
	
#picright{
	background:url(../images/picright.jpg) no-repeat;
	background-size: 331px;
	transition: 2s;
}
	
#picright:hover{
	background:url(../images/picright-b.jpg) no-repeat;
	background-size: 331px;
	transition: 0.3s;
}
.provider{
	width: 130px; 
	height: 30px; 
	padding: 0px 0px 0px 2px;
	font-size: 16px; 
	float:left;
}
.metode-text{
	margin-bottom:15px; 
	margin-left:auto;
}
.metode-underline{
	padding:5px 15px 5px 15px;
}
.wapmobile{
	padding: 2px 10px 2px 10px; 
	width: 85px; 
	height: 30px; 
	border-radius:3px; 
	font-size: 15px; 
	font-weight:normal; 
}
.footer-copyright-bg{
	padding-top:15px; 
}
.footer-container{
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-container a {
	color:inherit;
	text-decoration:underline;
}
.footer-copyright{
	text-align:center; 
	padding-bottom:10px; 
}
.footer-copyright-div{
	text-align:center; 
	margin-top:10px; 
	margin-bottom:10px; 
	margin-left:auto; 
	margin-right:auto;
}
.bank-container{
	padding-top: 10px;
	padding-bottom: 20px;
	text-align:center;
}
#informasi-menu{
	margin:150px auto 0px; 
	width:700px; 
	padding: 0px 0px 0px 0px; 
	box-shadow:rgba(0,0,0,.3) 0px 5px 10px 10px; 
	border:1px solid #333; 
	border-radius:10px; 
}
#informasi-content{
	border-radius:0px 9px 9px 0px; 
	padding-left:20px;
	width:563px;
}
#informasi-logo{
	margin:35px 0px 5px 5px;
}
#informasi-content-title{
	font-size: 25px;
	width: 240px; 
	height: 60px;
	padding-bottom: 20px;
	margin-top: 20px;
}
#informasi-content-info{
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
}
.menuleft > ul li .btn-black{
	padding-top: 8px;
	font-size:16px;
	margin:5px 0px 0px 0px;
	width:100%;
	cursor:pointer;
	text-align:left;
	height:39px;
	width:100%;
	border: none;
	border-radius: 0px;
}
#datapasaran-divname{
	border-radius:10px 10px 0px 0px; 
	font-size:13px;  
	padding-top:5px; 
	height:20px;
}
#datapasaran-divnomor-text{
	font-size:42px; 
	font-weight:normal; 
	letter-spacing:0px; 
	margin-bottom: 10px;
}
#datapasaran-date{
	padding: 5px 0px 5px 0px; 
	font-size:11px;  
	border-radius:0px 0px 10px 10px; 
	margin-top: -10px; 
	position: relative;
}
#kontak-title{
	width:189px; 
	margin-top:-7px;
	margin-left: 10px; 
	margin-bottom: 10px; 
	border-radius:4px 4px 0px 0px; 
	padding-top:22px; 
	text-align:center; 
	height:50px;
	height: 83px;
	line-height: 18px;
}
#kontak-content{
	width: 190px; 
	margin-top:-10px; 
	padding:5px 10px 8px 10px; 
	font-size: 15px;
	margin-left: 10px;
	border-radius: 0px 0px 4px 4px;	}
.menuleft {
	margin: 0px auto 0px;   
}
	
.menuleft > ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.oswald{
	font-family: 'Oswald', sans-serif;
}
.abel{
	font-family: 'Abel';
}
.ptsans{
	font-family: 'PT Sans', sans-serif;
}
.opensans{
	font-family: 'Open Sans', sans-serif;
}
.header {
	width: 999px;
	margin: 0px auto 0px;	
}

.header ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.header ul li
{
	padding: 0px;
	margin: 0px;
	float:left;
}

h1{
	font-family: 'Abel', sans-serif;
	font-size:34px;
}

h2
{
	font-family: 'Abel', sans-serif;
	font-size:30px;
}
h3
{
	font-family: 'Abel', sans-serif;
	font-size:26px;
}
h4{
	font-family: 'Abel', sans-serif;
	font-size:24px;	
}
h5{
	font-family: 'Abel', sans-serif;
	font-size:20px;
}
/* Add Zoom Animation */
.animate {
	animation: zoom 0.6s
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 0.8s;	
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}		
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}		
	100% {
		-webkit-transform: translateY(0%);
	}	
}
@keyframes zoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}
.closebox {
	position: absolute;
	top:-10px; right:5px;
	font-size: 35px;
}
.closebox:hover,.close:focus {
	cursor: pointer;
}
.closepop {
	position: absolute;
	top:-23px; right:-16px;
	font-size: 18px;
	width:30px;
	height:30px;
	border-radius:50%;
	padding-top:0px;
}
.closepop:hover,.close:focus {
	cursor: pointer;
}
.pointer {
	cursor: pointer;
}


.modal-backdrop {
 background-color: rgba(0,0,0,1) !important;
}

.fadein { position:relative; width:100%; height:380px; margin-left:0px !important; }
.fadein img { position:absolute; left:0; top:0;}

.glyphicon
{
	margin-right:5px;	
}

#mySidenav
{
	position:fixed;
	top: 180px;
	right:95px;
	
}

#mySidenav div#nav {
	position:absolute; 
	font-size: 20px;
	border-radius: 0 5px 5px 0;
	left: 25px;
	transition: 0.3s;
}
#mySidenav div#nav:hover {
  left: -170px;
}

input[type="text"],input[type="password"],select
{
	font-size:14px !important;	
}
input[readonly] {
	background-color: #fff3c3 !important;
}
.btn
{
	margin-top: 2px;	
	font-size:16px;	
	font-weight:bold;
}
.panel
{
	margin-top:20px;
	padding-top:0px;
	background:none;
}
.panel-heading
{
	margin-top:0px; padding-top:0px;
	background:none;
}
#footer #footercontainer
 {
  opacity:0.8;
 }
 
 #footer p
 {
   font-family: 'Abel';
   font-size:15px;
 }

.glyphicon-tasks, .glyphicon-tags
{
	margin-right:15px;	
}


/*MOBILE*/

* {
  box-sizing: border-box;
}

#mobile .row:after {
  content: "";
  display: table;
  clear: both;
}
#mobile #msgbox{
  margin-top: 60px;
}

#mobile .btn
{
  border-radius:5px;
}
#mobile #footer h1, #mobile #footer h2, #mobile #footer h3
{
  font-family: 'Abel', sans-serif;
}
#mobile .menubg{
  height: 90px;
  width: 25%; 
  padding-top:14px; 
  text-align:center; cursor: pointer;
  float: left;
}
#mobile .datapasaran-title{
  text-align: center; 
  font-size: 25px; 
  padding-bottom: 20px;
}
#mobile .piclmd-div{
  width:100%;
}
#mobile .piclmd-title{
  font-size:23px;
  padding:14px 10px 0px 22px; 
  font-style:normal;
  text-align:center;
}
#mobile .piclmd-info{
  font-size: 15px;
  padding:0px 10px 10px 22px;
  text-align:center;
}
#mobile .datapasaran-title-tanggal{
  padding-left: 0px;
}
#mobile .tanggal-text{
  padding-left: 0px;
  width:105px;
}
#mobile .result-text{
  padding-left: 0px;
  width:60px;
}
.shadow
{
  box-shadow:rgba(0,0,0,1) 0px 0px 10px 0px
}
#mobile input[readonly] {
	background-color: #eeeecd !important;
	/* any other styles */
}
#mobile textarea[readonly] {
	background-color: #eeeecd !important;
	/* any other styles */
}
#mobile .form-control {
	height: 40px !important;
	border-radius: 3px !important; 
}
#mobile .form-control#validasi {
	height: 50px !important;
	border-radius: 3px !important; 
}
#mobile .form-control-login {
	height: 40px !important;
	border-radius: 3px !important;    
}
#mobile .form-control#reg_username,
#mobile #reg_pass, 
#mobile #reg_passcon, #mobile #reg_email, #mobile #reg_telpon, #mobile #reg_bank, #mobile #reg_rek, #mobile #reg_nama, #mobile #reg_ref, #mobile #reg_dari, #mobile #reg_lain {
	height: 45px !important;
	border-radius: 3px !important; 
}