/*DESKTOP*/
body {
	background:#000000;
	color:#FFF;
}
.logodiv{
	float:left;
	margin-top:20px; 
}
.logodiv a img
{
	width: 260px;
}
.boxprod{
	background: rgb(56,44,28,.9)
}
.broadcast-marquee{
	background:linear-gradient(to bottom,#9b7c33,#a4863d,#ac9149,#baa35d,#c5b26d,#d0c17e,#d0c17e,#d0c17e,#d0c17e);
	color:#000;
}
.bgdatapasaran{
	background-color:#0e0e0e;  
}
.togelonline-div{
	background:#1d1d1d;
	color: #fff; 
}
.togelonline-div-info{
	color:#fff;
}
.piclmd-div{
	background:#1d1d1d;
}
.piclmd-title{
	color: #fff; 
}
.piclmd-info{
	color:#fff; 
}
.provider{
	border-bottom:3px #f3ebac solid;  
	color: #fff;
}
.metode-text{
	color: #fff;
}
.metode-underline{
	border-bottom:3px #e9ddab solid; 
}
.wapmobile{
	border:1px #f3edb1 solid; 
	color: #000;
	background-color: #f3edb1;
}
.wapmobile:hover{
	border:1px #d2c995 solid; 
	color: #000;
	background-color: #d2c995;
}
.footer-container{
	background-color: #2c2216;
}
.footer-copyright{
	color:#FFF;
}
.footer-copyright-bg{
	background:#161616 ;
}
.bank-container{
	background-color: #382c1c;
}
#informasi-menu{
	background-color:#000;
}
#informasi-content{
	background-color:#382c1c;
}
#informasi-logo{
	width: 120px;	
}
.menuleft > ul li .btn-black{
	color: #fff;
}
.menuleft > ul li .btn-black:hover{
   	background-color:#fff5b8;
   	color: #000;
    
}
.menuleft > ul li .btn-black:active{
    background-color:#fff5b8;
    color: #000;
    
}
.pointer{
	color: #fff;
}
#informasi-content-title{
	border-bottom:5px #fff5b8 solid; 
}
#datapasaran-divname{
	background-color:#1e1709; 
	border-top:3px #817e76 solid; 
	border-left:3px #817e76 solid; 
	border-right:3px #817e76 solid; 
	color:#fff; 
}
#datapasaran-divnomor{
	background-color:#1e1709; 
	border-left:3px #817e76 solid; 
	border-right:3px #817e76 solid;
	color: #fff;
}
#datapasaran-divnomor-text{
	color:#fff; 
}
#datapasaran-date{
	color:#000; 
	background:linear-gradient(to bottom,#9b7c33,#a4863d,#ac9149,#baa35d,#c5b26d,#d0c17e,#d0c17e,#d0c17e,#d0c17e);
	border-left:3px #817e76 solid; 
	border-right:3px #817e76 solid; 
	border-bottom:3px #817e76 solid;
	border-top:1px #9e7e34 solid;
}
#kontak-title{
	background: #000; 
	border-top:2px #6a6762 solid;
	border-right:2px #6a6762 solid;
	border-left:2px #6a6762 solid;
}
#kontak-content{
	background-color:#FFF;
	color: #000; 
}
.panelbg{
	background:rgba(0,0,0,.3) !important;	
}
	/* The Close Button (x) */
	.closebox {
		position: absolute;
		top:-10px; right:5px;
		color: #CCC;
		font-size: 35px;
	}
	.closebox:hover,.close:focus {
		color: #FFF;
		cursor: pointer;
	}
	
	.closepop {
		position: absolute;
		top:-23px; right:-16px;
		font-size: 18px;
		width:30px;
		height:30px;
		background-color:#000;
		border-radius:50%;
		border:2px solid #FFF;
		padding-top:0px;
	}
	.closepop:hover,.close:focus {
		cursor: pointer;
		background-color:#CCC;
		color:#000 !important;
	}
	 #desktop #msgbox
	 {
	  color:#f4f0b2 !important;  
	 }

	.prod a
	{
		color:inherit;
	}

	.prod a:hover, .pointer:hover
	{
		color:#f4f0b2;
	}





	/*MOBILE*/

	#mobile {
  	  background:#1b1b1b;
	}
	#mobile .logo-div{
	  margin-top:30px; 
	  margin-bottom:30px;
	}
	#mobile #logo-img{
	  width: 280px;
	}
	#mobile #msgbox{
	  margin-top: 60px;
	}
	#mobile .menubg{
	  background-image: -moz-linear-gradient( 90deg, rgb(64,64,64) 0%, rgb(51,51,51) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(64,64,64) 0%, rgb(51,51,51) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(64,64,64) 0%, rgb(51,51,51) 100%);
	  height: 90px;
	  width: 25%; 
	  border-left:1px solid #555; 
	  border-right:1px solid #000; 
	  padding-top:14px; 
	  text-align:center; cursor: pointer;
	  float: left;
	}
	#mobile #marquee-bg{
	  background:linear-gradient(to bottom,#9b7c33,#a4863d,#ac9149,#baa35d,#c5b26d,#d0c17e,#d0c17e,#d0c17e,#d0c17e);
  	  color: #000;
	}
	#mobile #header-line{
	  border-bottom:5px #fff5b8 solid;
	}
	#mobile .pindah-versi-text{
	  margin-bottom:10px; 
	  color: #ffcd00;
	}
	#mobile .datapasaran-title{
	  text-align: center; 
	  color: #fff5b8; 
	  font-size: 25px; 
	  padding-bottom: 20px;
	}
	#mobile .datapasaran-title-pasaran{
	  color:#fff; 
	}
	#mobile .datapasaran-title-tanggal{
	  color:#fff; 
	}
	#mobile .datapasaran-title-result{
	  color:#fff; 
	}
	#mobile .pasaran-text{
	  color:#afafaf; 
	}
	#mobile .tanggal-text{
	  color:#afafaf; 
	}
	#mobile .result-text{
	  color:#fff5b8;
	}
	#mobile .keluaran-line{
	   border-bottom:10px ##fff5b8 solid;
	   background-color:#1b1b1b; 
	   color: #FFF;
	}
	#mobile #keluaran-bottom{
	   background-color:#fff5b8;   
	   border-bottom:1px solid #fff5b8;
	}
	#mobile .copyright-bg{
	  background:linear-gradient(to bottom,#2e2e2e,#313131,#292929,#242424,#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d,#1d1d1d);
	  color: #fff;
	  border-top:3px #fff5b8 solid;
	}
	#mobile .piclmd-div{
	  background:#1d1d1d;
	  width:100%;
	}
	#mobile .piclmd-title{
	  font-size:23px;
	  color: #fff;
	  padding:14px 10px 0px 22px; 
	  font-style:normal;
	  text-align:center;
	}
	#mobile .piclmd-info{
	  font-size: 15px;
	  color:#fff; 
	  padding:0px 10px 10px 22px;
	  text-align:center;
	}

	#mobile .borderbottom{
	    border-bottom:2px solid #c2c2c2;
	    border-top:2px solid #c2c2c2;
	}